<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Escapade - About</title>
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="node-calendar.js"></script>
</head>

<body>
    <%- include ('./partials/header.ejs'); -%>
    <%- include ('./partials/navigation.ejs'); -%>
    <main class="home">
        <h3 class="subhead1">About Us</h3>
        <br>
        <p class="subhead1">
            Experience a whole new world with us and live for the adventures you have never dreamt about before.
            A perfect place to tick off those funfilled and exciting wishes from your bucketlist!<br>
            Find out what's happening in Adventures and Outdoors Meetups around the world and start meeting with people
            with same interest as you.<br>
        </p>
    </main>
    <%- include ('./partials/footer.ejs'); -%>
</body>

</html>
