<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Escapade - Contact</title>
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <%- include ('./partials/header.ejs'); -%>
    <%- include ('./partials/navigation.ejs'); -%>
    <main class="home">
        <h3 class="subhead1">Contact Us</h3>
        <br>
        <p class="subhead1">
            Feel free to drop us an email at escapade@gmail.com<br><br>
            For any queries call on the below number:<br>
            900-335-1523
        </p>
    </main>
    <%- include ('./partials/footer.ejs'); -%>
</body>

</html>