<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Escapade - Error</title>
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <%- include ('./partials/header.ejs'); -%>
    <%- include ('./partials/navigation.ejs'); -%>
    <main class="home">
        <h3 class="subhead1">Oops... Page Not Found!!</h3>
        <br>
        <p class="subhead1">
          The requested page doesn't exist. Please check your URL!
        </p>
    </main>
    <%- include ('./partials/footer.ejs'); -%>
</body>

</html>
